html {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
}

body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0px 20px;
}

button {
    width: 70px;
}

.container {
    display: flex;
    flex-direction: column;
}

.header-container {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
}

.submission-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 30px 0px 50px 0px;
}

.submission-boxes {
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.title-submission,
.author-submission,
.status.submission {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

label,
input {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
}

.library-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.library-header {
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-grow: 1;
}

.title-container,
.author-container,
.status-container,
.space-container,
.new-title-container,
.new-author-container,
.new-status-container,
.new-delete-container {
    display: flex;
    flex-grow: 0;
    flex-basis: 25%;
    justify-content: space-between;
}

.title-header,
.author-header,
.status-header,
.submission-header {
    font-weight: bold;
}

.library-books {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-grow: 1;
}

.new-book-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
    flex-grow: 1;
}